<div class="main-layout">
  <aside class="leftsidebar">
    <div class="flex flex-col gap-10">
      <a href="#" class="h3-bold text-primary-500 flex items-center">
        <img src="/images/logo.png" width="200" height="200" alt="Logo" />
      </a>

      <div class="flex flex-col gap-3">
        <div class="flex items-center gap-4">
          <img [src]="getFotoPerfil()" alt="Perfil do Usuário" class="avatar" />

          <div class="flex flex-col">
            <h3 class="base-semibold text-light-1">{{ usuarioLogado.nome }}</h3>
            <p class="small-medium text-primary-500 text-principal">
              &#64;{{ usuarioLogado.username }}
            </p>
          </div>
        </div>
      </div>

      <nav class="flex flex-col gap-2">
        <a
          routerLink="/feed"
          routerLinkActive="active-route  btn-active"
          class="leftsidebar-link group base-medium transition-all duration-300"
        >
          <div
            class="flex items-center gap-4 p-3 rounded-lg group-[.active-route]:bg-primary-500/10 group-[.active-route]:border-primary-500 group-[.active-route]:pl-3"
          >
            <i
              routerLinkActive="icon-custom-active"
              class="fas fa-home flex-center w-5 text-light-3 group-[.active-route]:text-primary-500 icon-custom"
            ></i>
            <span
              class="text-light-3 group-[.active-route]:text-primary-500 group-[.active-route]:font-bold"
              >Página Inicial</span
            >
          </div>
        </a>

        <a
          routerLink="/explorar"
          routerLinkActive="active-route  btn-active"
          class="leftsidebar-link group base-medium transition-all duration-300"
        >
          <div
            class="flex items-center gap-4 p-3 rounded-lg group-[.active-route]:bg-primary-500/10 group-[.active-route]:border-primary-500 group-[.active-route]:pl-3"
          >
            <i
              routerLinkActive="icon-custom-active"
              class="fas fa-compass flex-center w-5 text-light-3 group-[.active-route]:text-primary-500 icon-custom"
            ></i>
            <span
              class="text-light-3 group-[.active-route]:text-primary-500 group-[.active-route]:font-bold"
              >Explorar</span
            >
          </div>
        </a>

        <a
          routerLink="/pessoas"
          routerLinkActive="active-route  btn-active"
          class="leftsidebar-link group base-medium transition-all duration-300"
        >
          <div
            class="flex items-center gap-4 p-3 rounded-lg group-[.active-route]:bg-primary-500/10 group-[.active-route]:border-primary-500 group-[.active-route]:pl-3"
          >
            <i
              routerLinkActive="icon-custom-active"
              class="fas fa-users flex-center w-5 text-light-3 group-[.active-route]:text-primary-500 icon-custom"
            ></i>
            <span
              class="text-light-3 group-[.active-route]:text-primary-500 group-[.active-route]:font-bold"
              >Pessoas</span
            >
          </div>
        </a>

        <a
          routerLink="/salvos"
          routerLinkActive="active-route  btn-active"
          class="leftsidebar-link group base-medium transition-all duration-300"
        >
          <div
            class="flex items-center gap-4 p-3 rounded-lg group-[.active-route]:bg-primary-500/10 group-[.active-route]:border-primary-500 group-[.active-route]:pl-3"
          >
            <i
              routerLinkActive="icon-custom-active"
              class="fas fa-bookmark flex-center w-5 text-light-3 group-[.active-route]:text-primary-500 icon-custom"
            ></i>
            <span
              class="text-light-3 group-[.active-route]:text-primary-500 group-[.active-route]:font-bold"
              >Salvos</span
            >
          </div>
        </a>

        <a
          routerLink="/criar-post"
          routerLinkActive="active-route    btn-active"
          class="leftsidebar-link group base-medium transition-all duration-300"
        >
          <div
            class="flex items-center gap-4 p-3 rounded-lg group-[.active-route]:bg-primary-500/10 group-[.active-route]:border-primary-500 group-[.active-route]:pl-3"
          >
            <i
              routerLinkActive="icon-custom-active"
              class="fas fa-plus-circle flex-center w-5 text-light-3 group-[.active-route]:text-primary-500 icon-custom"
            ></i>
            <span
              class="text-light-3 group-[.active-route]:text-primary-500 group-[.active-route]:font-bold"
              >Criar Post</span
            >
          </div>
        </a>
      </nav>
    </div>

    <button class="leftsidebar-link mt-10 group" (click)="logout()">
      <div
        class="flex items-center gap-4 p-3 rounded-lg transition-all duration-300"
      >
        <i class="fas fa-sign-out-alt flex-center w-5 icon-custom"></i>
        <span class="text-light-3">Sair</span>
      </div>
    </button>
  </aside>
  <div class="bottom-bar flex-between w-full px-5 py-4">
    <a routerLink="/feed" class="flex-center flex-col gap-1">
      <i routerLinkActive="icon-custom" class="fas fa-home text-xl"></i>
      <span routerLinkActive="font-bold" class="tiny-medium">Início</span>
    </a>
    <a routerLink="/explorar" class="flex-center flex-col gap-1">
      <i
        routerLinkActive="icon-custom"
        class="fas fa-compass text-light-3 text-xl"
      ></i>
      <span routerLinkActive="font-bold" class="tiny-medium">Explorar</span>
    </a>
    <a routerLink="/criar-post" class="flex-center flex-col gap-1">
      <i
        routerLinkActive="icon-custom"
        class="fas fa-plus-circle text-light-3 text-xl"
      ></i>
      <span routerLinkActive="font-bold" class="tiny-medium">Criar</span>
    </a>
    <a routerLink="/salvos" class="flex-center flex-col gap-1">
      <i
        routerLinkActive="icon-custom"
        class="fas fa-bookmark text-light-3 text-xl"
      ></i>
      <span routerLinkActive="font-bold" class="tiny-medium">Salvos</span>
    </a>
    <a routerLink="/pessoas" class="flex-center flex-col gap-1">
      <i
        routerLinkActive="icon-custom"
        class="fas fa-users text-light-3 text-xl"
      ></i>
      <span routerLinkActive="font-bold" class="tiny-medium">Pessoas</span>
    </a>
  </div>
</div>
