<div
  class="post-detail-overlay"
  id="postDetailOverlay"
  [class.active]="isModalActive"
  (click)="onOverlayClick($event)"
>
  <div class="post-detail-container custom-scrollbar" (click)="$event.stopPropagation()">
    <div class="post-detail-header flex-between">
       <button class="back-button" id="closePostDetail" (click)="closeModal()">
        <i class="fas fa-arrow-left"></i>
        <span class="base-medium">Voltar</span>
      </button>
      <button class="btn-icon" (click)="editPost(postSelected.id)">
        <i class="fas fa-edit"></i>
      </button>
    </div>

    <div class="post-detail-content" id="postDetailContent">
      <div class="flex-between p-4 border-b border-dark-4">
        <div class="flex-start gap-3">
          <img
            [src]="getFotoPerfil(postSelected?.autor)"
            alt="Avatar do Usuário"
            class="w-12 h-12 rounded-full object-cover border border-primary-custom"
          />
          <div>
            <h4 class="base-semibold">{{ postSelected?.autor?.nome }}</h4>
            <div class="flex gap-2 small-medium text-light-3">
              <span>{{ postSelected?.dataCriacao | dateFormat }}</span>
              <span>•</span>
              <span>{{ postSelected?.localizacao }}</span>
            </div>
          </div>
        </div>
      </div>

      <img
        [src]="getImagemPost(postSelected?.imagem)"
        alt="Imagem do Post"
        class="post-detail-image"
      />

      <div class="post-detail-info">
        <p class="base-medium mb-3">{{ postSelected?.legenda }}</p>
        <p class="base-medium mb-3 text-principal">{{ postSelected?.tags }}</p>
        <div class="flex gap-2 flex-wrap mt-4"></div>
        <div class="flex-between mt-6">
          <div class="flex gap-2 items-center">
            <i class="fas fa-heart text-red"></i>
            <span class="small-medium">
              {{ postSelected?.numeroCurtidas | formatNumber }} curtidas
            </span>
          </div>
          <span class="small-medium text-light-3">
            {{ postSelected?.numeroComentarios | formatNumber }} comentários
          </span>

        </div>
      </div>
    </div>

    <div class="post-detail-actions">
      <div class="flex gap-4">
        <button class="btn-icon">
          <i class="far fa-heart"></i>
        </button>
        <button class="btn-icon">
          <i class="far fa-comment"></i>
        </button>
        <button class="btn-icon">
          <i class="far fa-paper-plane"></i>
        </button>
      </div>
      <button class="btn-icon">
        <i class="far fa-bookmark"></i>
      </button>
    </div>

    <app-comments [postId]="postSelected?.id"></app-comments>
  </div>
</div>
